{% extends 'pages/base.html' %}

{% block title %}{{room}}{% endblock title %}

{% block content %}

<h3>{{room}}</h3>
<h3>Teams</h3>
<button onclick="history.back()">Go Back</button>
<hr />
{% for team in teams %}
{{team}}<br />
{% endfor %}
<hr />
<br /><br />
<a href="/room/{{room}}/2/attendance1"><button>Take 2nd Year Attendance for Review-1</button></a>&nbsp;&nbsp;<a href="/room/{{room}}/3/attendance1"><button>Take 3rd Year Attendance for Review-1</button></a><br />
<a href="/room/{{room}}/2/attendance2"><button>Take 2nd Year Attendance for Review-2</button></a>&nbsp;&nbsp;<a href="/room/{{room}}/3/attendance2"><button>Take 3rd Year Attendance for Review-2</button></a><br />
<a href="/room/{{room}}/2/attendance3"><button>Take 2nd Year Attendance for Review-3</button></a>&nbsp;&nbsp;<a href="/room/{{room}}/3/attendance3"><button>Take 3rd Year Attendance for Review-3</button></a><br />
<a href="/room/{{room}}/2/attendance4"><button>Take 2nd Year Attendance for Review-4</button></a>&nbsp;&nbsp;<a href="/room/{{room}}/3/attendance4"><button>Take 3rd Year Attendance for Review-4</button></a><br />

{% endblock content %}
